@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--color-background-dark),
    var(--color-background-light)
  );
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}

.nav-signs ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-signs ul a {
  align-content: center;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  text-align: right;
}

.sign-up {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.sign-up .form-group {
  margin: 10px 0;
}

.sign-up .form-group input {
  padding: 10px;
  width: 60%;
}

.sign-up .form-group .btn {
  background: chocolate;
  border: none;
  color: #fff;
}

.sign-up .form-group .btn:hover {
  background: rgb(155, 76, 20);
}

em {
  color: rgb(255, 217, 0);
}
